.container {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 70%;
  margin-inline: auto;
}

.title {
  width: 100%;
  background-color: var(--ion-color-tertiary);
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-block: 1rem;
  position: relative;
}

ion-icon {
  color: var(--ion-color-primary);
  font-size: 2rem;
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

ion-icon:hover {
  color: var(--ion-color-danger);
  transition: 0.1s;
}
.title > span {
  color: var(--ion-color-primary);
  font-weight: 600;
  font-size: 1.4rem;
}

.title > img {
  width: 60px;
  height: auto;
}
